# git에 commit/push시 무시할 폴더/파일 설정
# ==================예시=================
# 특정파일 제외 (※모든 경로에 적용!)
# [파일명].[확장자]

# 특정폴더 제외
# [폴더명]/

# 특정 경로의 파일제외
# [폴더명]/[파일명]

# 현재 경로의 특정파일
# /[파일명]

# 예외처리
# ![제외하고자 하는 경로 파일]

# 확장자 기반 제외
# *.[확장자]
# =========================================

# final_tf 파일 무시
final_tf.py

# .idea 디렉토리 무시
.idea/

# .vscode 디렉토리 무시
.vscode/

# driver 디렉토리 무시
driver/
download/krx/
download/scaler/
download/target/
download/investing_df/
kospi/download/
kospi/cmd/
kospi/error/
kospi/model/
kospi/pickle/
# module/__pycache__ 디렉토리 무시
module/__pycache__/
__pycache__/

# sql 테스트 노트북 무시(sql 정보로 인해 제외함)
데이터 수집 노트북/sql_test.ipynb
데이터 수집 노트북/sql_test2.ipynb
데이터 수집 노트북/sql_test3.ipynb
데이터 수집 노트북/sql_update.ipynb

# 스프링 help.md 무시
web-dev/trading-web/HELP.md

# 크롤링 테스트 이미지
데이터 수집 노트북/image.png