@charset "utf-8";

main * {
	text-transform: uppercase;
}

.skill-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8rem;
}

.skill-list li {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img-warp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 160px;
	margin-bottom: 1rem;
}

.img-warp .skill-img {
	width: 90%;
}