@charset "utf-8";

hr {
	margin: .5rem 0 1rem;
}

.main-list {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.table-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.table-title h3 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: .5rem;
}

.badge {
	font-weight: 500;
	text-transform: uppercase;
}

.badge.live-badge {
	background-color: var(--color-red);
}

.recommendation-keywords-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px solid var(--color-dark-green);
	padding: 15px;
}

.recommendation-keywords-container > div {
	width: 49%;
}

.keywords-contents a {
	width: calc(100% / 5.5);
	text-align: center;
}


.keyword.item {
	background: var(--color-gray);
	border-radius: 4px;
	padding: 8px 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.keywords-contents a:hover .keyword.item,
.keywords-contents a:focus .keyword.item,
.keywords-contents a:active .keyword.item {
	background-color: var(--color-dark-gray);
}

.icon-search {
	margin-right: 10px;
}

.titlecu {
	/*margin-bottom: 30px;*/
	margin-top: 20px;
}

.main_title {
	margin: 10px;
	border: 1px solid var(--color-gray);
	padding: 20px;
	background-color: var(--color-pink);
	width: 100%;
}

.economic-indicator {
	margin: 10px;
	border: 2px solid var(--color-gray);;
	padding: 35px;
	width: 320px;
}

.main-value {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 8px;

}

.indicator-name {
	font-size: 25px;
	line-height: 24px;
	font-weight: 400;
	padding: 10px 0;
	margin-bottom: 8px;
}

.change-rate_neg {
	margin-bottom: 8px;
	color: var(--color-blue);
}

.change-rate_pos {
	margin-bottom: 8px;
	color: var(--color-red);
}

.chartFrame {
	padding: 15px;
	border: 1px solid var(--color-dark-green);
}

.lomelo {
	padding: 15px;
	border: 1px solid var(--color-dark-green);
	width: 25% !important;
	margin-top: 69px;
	position: relative;
}

.lomelo .account-chart-view-btn {
	z-index: 100;
	position: absolute;
	top: .4rem;
	right: .4rem;
	transition: all .5s ease-in-out;
}

.lomelo .account-chart-area {
	padding: 15px;
	background-color: var(--color-white);
	opacity: 0;
	visibility: hidden;
	transition: opacity .1s;
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lomelo .account-chart-area.active {
	opacity: 1;
	visibility: visible;
}

.h_popular {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#container {
	height: 2em;
	overflow: hidden;
	border: 2px solid var(--color-yellow);
	width: 100%;
}

#container:hover {
	border: 2px solid var(--color-red);
}

#rolling {
	transition-timing-function: ease-in-out;
}

#rolling > li {
	height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.7em;
	padding-left: 0em;
	font-weight: bold;
}

.snap {
	font-size: 1.2em;
	text-align: right;
}

.display {
	font-size: 1.2em;
	font-weight: bold;
	color: var(--color-dark-purple);
}

.hr-solid {
	border: 0px;
	border-top: 1px solid var(--color-block);
}

.keywords-contents {
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
}

.navernews {
	padding: 1px;
}

.new-list li {
	padding-top: 1rem;
	border-bottom: 1px solid var(--color-gray);
}

.news-link:hover .llong,
.news-link:hover .hove,
.news-link:hover .hove small {
	color: var(--color-red);
}

.news-link:hover .hove {
	text-decoration: underline;
}

.news-link h5.hove small {
	color: var(--color-deep-dark-gray);
}

.llong {
	width: 100%;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.restnews {
	padding: 30px;
}

#trading-data-table tbody tr td,
#histoyTable tbody tr td,
#allHistoyTable tbody tr td {
	text-align: center;
}

/*#trading-data-table tbody tr td:nth-child(n+3):nth-child(n-7) {*/
/*	text-align: right;*/
/*}*/

.trading-data-table-wrap {
	height: 520px;
}

#trading-data-table tbody tr td button[id*="_history"] {
	/*color: var(--color-blue);*/
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: underline;
}

#trading-data-table tbody tr td button[id*="_history"]:hover,
#trading-data-table tbody tr td button[id*="_history"]:focus,
#trading-data-table tbody tr td button[id*="_history"]:active {
	color: var(--color-blue);
	border: 1px solid var(--color-blue);
}

#trading-data-table tbody tr td.stock-evalValue.up,
#trading-data-table tbody tr td.stock-ratio.up {
	color: var(--color-red);
}

#trading-data-table tbody tr td.stock-evalValue.down,
#trading-data-table tbody tr td.stock-ratio.down {
	color: var(--color-blue);
}

#histoyTable thead,
#allHistoyTable thead {
	position: sticky;
	top: 0;
	left: 0;
}


.history-area {
	margin-bottom: 1.4rem;
}

.history-area .history-btn-area {
	flex: 0 0 auto;
	padding-right: 1rem;
	margin-right: 1rem;
	border-right: 1px solid var(--color-gray);
}

.history-area .history-btn-area #all-history-btn,
.history-area .history-btn-area #all-history-none-btn {
	background-color: var(--color-gray);
}

.history-area .history-btn-area #all-history-btn:hover,
.history-area .history-btn-area #all-history-btn:focus,
.history-area .history-btn-area #all-history-btn:active,
.history-area .history-btn-area #all-history-none-btn:hover,
.history-area .history-btn-area #all-history-none-btn:focus,
.history-area .history-btn-area #all-history-none-btn:active {
	background-color: var(--color-dark-gray);
}

.history-area .history-list-area {
	flex: 1 1 auto;
	overflow-X: auto;
}

.history-area .history-list-area .history-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 0;
	margin: 0;
}

.history-area .history-list-area .history-list li {
	flex: 0 0 auto;
}

.history-area .history-list-area .history-list li button {
	background-color: var(--color-gray);
	min-width: 60px;
	max-width: 200px;
}

.history-area .history-list-area .history-list li button:hover,
.history-area .history-list-area .history-list li button:focus,
.history-area .history-list-area .history-list li button:active {
	background-color: var(--color-dark-gray);
}

.profit-area p {
	text-align: right;
}


