@charset "utf-8";

@media screen and (min-width: 680px) {
	section {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 100%;
	}

	section div[class$="-area"] {
		width: 520px;
		padding: 2rem;
		border-radius: 20px;
		box-shadow: 10px 10px 100px rgba(0, 0, 0, .2);
	}

	section ul[class$="-input"] {
		width: 100%;
		padding: 0;
		margin-top: 2rem;
	}

	section ul[class$="-input"] li {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}

	section ul[class$="-input"] li:not(:last-child) {
		margin-bottom: 1rem;
	}

	section .login-input li label {
		flex: 1 0 15%;
	}

	section .join-input li label {
		flex: 0 0 20%;
	}

	/* input 리셋 */
	section ul[class$="-input"] li .input-bar-style {
		position: relative;
	}

	section .login-input li .input-bar-style {
		flex: 1 0 85%;
	}

	section .join-input li .input-bar-style {
		flex: 2 2 60%;
	}

	section ul[class$="-input"] li input {
		width: 100%;
		padding: .6rem .4rem;
		border: 0;
		border-bottom: 3px solid var(--color-bright-purple);
		background: transparent;
		outline: 0;
	}

	section ul[class$="-input"] li .input-bar {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 3px;
		background-color: var(--color-bright-purple);
	}

	section ul[class$="-input"] li .input-bar::after {
		display: inline-block;
		content: '';
		width: 0;
		height: 3px;
		background-color: var(--color-purple);
		position: absolute;
		left: 0;
		bottom: 0;
		transition: width .5s ease-in-out;
	}

	section ul[class$="-input"] li input:hover ~ .input-bar::after,
	section ul[class$="-input"] li input:focus ~ .input-bar::after,
	section ul[class$="-input"] li input.active ~ .input-bar::after {
		width: 100%;
	}

	section ul[class$="-input"] li input:invalid ~ .input-bar::after {
		background-color: var(--color-red);
	}

	section ul.join-input li p[class*="check-li"] {
		width: 100%;
		margin: .5rem 0 0 0;
		color: var(--color-red);
		text-align: right;
		visibility: hidden;
	}

	section ul.join-input li p[class*="check-li"].active {
		visibility: visible;
	}

}