@charset "utf-8";

:root {
	--color-block: #333;
	--color-dark: #B2B2B2;
	--color-gray: #EDEDED;
	--color-dark-gray: #ccd0d4;
	--color-deep-dark-gray: #6A6C6E;
	--color-bright-purple: #D2DAFF;
	--color-purple: #BEAEE2;
	--color-dark-purple: #746A8B;
	--color-pink: #F7DBF0;
	--color-blue: #4D96FF;
	--color-red: #FF6B6B;
	--color-dark-red : #702B2B;
	--color-yellow: #FFD93D;
	--color-green: #6BCB77;
	--color-dark-green: #519959;
	--color-white: #F9F9F9;
}

ul, ol {
	list-style: none;
}

button {
	width: auto;
	color: var(--color-block);
	background: transparent;
	border: 0;
}

a {
	display: inline-block;
	color: var(--color-block);
	text-decoration: none;
}

a:hover {
	color: var(--color-block);
}
