<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.big15.tradingweb.mapper.webData.FsDataListMapper">
	<select id="stockList" resultType="com.big15.tradingweb.dto.FsListDto">
		select *
		from fslist
	</select>
	<select id="stockSearchList" resultType="com.big15.tradingweb.dto.FsListDto">
		select *
		from fslist
		where stockCode like CONCAT('%', #{code}, '%')
			 or korName like CONCAT('%', #{code}, '%')
			 or korAbbrvName like CONCAT('%', #{code}, '%')
			 or engName like CONCAT('%', #{code}, '%')
			 or mrkCls like CONCAT('%', #{code}, '%')
			 or scrCls like CONCAT('%', #{code}, '%')
			 or stockType like CONCAT('%', #{code}, '%')
	</select>
</mapper>

