<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.big15.tradingweb.mapper.AiTradingMapper">
	<select id="aiTradingData" resultType="com.big15.tradingweb.dto.AiTradingDto">
		SELECT code
				 , name
				 , format(amount, 0)       as amount
				 , format(buyprice, 2)     as buyprice
				 , format(evalValue, 0)    as evalValue
				 , format(ratio, 4)        as ratio
				 , format(currentValue, 0) as currentValue
		FROM web_data.${account}_account_status
		order by code asc
	</select>

	<select id="accountHistory" resultType="com.big15.tradingweb.dto.AccountHistoryDto">
		select DATE_FORMAT(his_time, '%Y-%m-%d %H:%i') as his_time
				 , account_name
				 , code_name
				 , stock_code
				 , format(buy_num, 0) as buy_num
				 , format(sell_num, 0) as sell_num
				 , format(amount, 0) as amount
				 , format(ratio, 4) as ratio
				 , format(profit, 0) as profit
		from ${account}_history
			where account_name = #{account}
			and stock_code = #{stock_code}
		order by his_time desc
	</select>

	<select id="accountHistorySearch" resultType="com.big15.tradingweb.dto.AccountHistoryDto">
		select DATE_FORMAT(his_time, '%Y-%m-%d %H:%i') as his_time
				 , account_name
				 , code_name
				 , stock_code
				 , format(buy_num, 0) as buy_num
				 , format(sell_num, 0) as sell_num
				 , format(amount, 0) as amount
				 , format(ratio, 4) as ratio
				 , format(profit, 0) as profit
		from ${account}_history
		where account_name = #{account}
			and stock_code = #{stock_code}
			and his_time between #{start_date} and #{end_date}
		order by his_time desc
	</select>

	<select id="historyData" resultType="com.big15.tradingweb.dto.AccountHistoryDto">
		select DATE_FORMAT(his_time, '%Y-%m-%d %H:%i') as his_time
				 , account_name
				 , code_name
				 , stock_code
				 , format(buy_num, 0) as buy_num
				 , format(sell_num, 0) as sell_num
				 , format(amount, 0) as amount
				 , format(ratio, 4) as ratio
				 , format(profit, 0) as profit
		from ${account}_history
		where account_name = #{account}
		order by his_time desc
	</select>

	<select id="allHistoryDataSearch" resultType="com.big15.tradingweb.dto.AccountHistoryDto">
		select DATE_FORMAT(his_time, '%Y-%m-%d %H:%i') as his_time
				 , account_name
				 , code_name
				 , stock_code
				 , format(buy_num, 0) as buy_num
				 , format(sell_num, 0) as sell_num
				 , format(amount, 0) as amount
				 , format(ratio, 4) as ratio
				 , format(profit, 0) as profit
		from ${account}_history
		where account_name = #{account}
		  <if test="!code.equals('null')">
				and code_name like CONCAT('%', #{code}, '%')
		  </if>
			and DATE_FORMAT(his_time, '%Y-%m-%d %H:%i') between '${start_date}' and '${end_date}'
		order by his_time desc
	</select>

	<select id="coList" resultType="com.big15.tradingweb.dto.AccountHistoryDto">
		select DATE_FORMAT(his_time, '%Y-%m-%d') as date, code_name, stock_code
		from ${account}_history
		where account_name = #{account}
			and DATE_FORMAT(his_time, '%Y-%m-%d') = DATE_FORMAT(CURDATE(), '%Y-%m-%d')
		group by code_name, date, stock_code
		order by code_name asc;
	</select>

	<select id="profit" resultType="com.big15.tradingweb.dto.AccountHistoryDto">
		select DATE_FORMAT(his_time, '%Y-%m-%d') as date
				 , format(sum(ratio), 4)             as ratio
				 , format(sum(profit), 0)            as profit
		from ${account}_history
		where DATE_FORMAT(his_time, '%Y-%m-%d') = DATE_FORMAT(CURDATE(), '%Y-%m-%d')
		group by date
		order by code_name asc;
	</select>
</mapper>