<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.big15.tradingweb.mapper.TradingMapper">
	<select id="aiTradingData" resultType="com.big15.tradingweb.dto.TradingDto">
		SELECT stock_code, stock_name, format(quantity, 0) as quantity, format(average_price, 2) as average_price, format(appraisal_amount, 0) as appraisal_amount, format(returns, 4) as returns,format(book_value, 0) as book_value
		FROM web_data.trading_dummy_data
	</select>
</mapper>